@charset "UTF-8";
body {
  font-family: "メイリオ", "Meiryo", sans-serif;
}

.pc-only {
  display: none;
}
@media screen and (min-width: 767px) {
  .pc-only {
    display: block;
  }
}

.wrap {
  padding: 0 30px;
  max-width: 1080px;
}
@media screen and (min-width: 767px) {
  .wrap {
    margin: 0 30px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

p {
  font-size: 13px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.header__top {
  margin-top: 26px;
}
@media screen and (min-width: 767px) {
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  .header__top img {
    width: 100%;
    max-width: 358px;
  }
}
.header__top .top-button {
  color: #FFFFFF;
  width: 240px;
  height: 44px;
  background-color: #1DDB07;
  border-radius: 12px;
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
  padding: 3px;
}
.header__top .top-button::after {
  content: "";
  display: inline-block;
  margin-left: 21px;
  margin-bottom: 3px;
  width: 25px;
  height: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  transform: skew(45deg);
}
.header__top .top-button__link {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px double #FFFFFF;
}
.header__nav {
  margin-top: 21px;
  font-size: 11px;
}
@media screen and (min-width: 767px) {
  .header__nav {
    margin-top: 35px;
  }
}
.header__nav .current {
  color: #1558D6;
}

.mv img {
  margin-top: 18px;
  width: 100%;
  height: 500px;
}

.main-title {
  margin-top: 43px;
}
@media screen and (min-width: 767px) {
  .main-title {
    margin-top: 70px;
  }
}

.main-text {
  margin-top: 24px;
  line-height: 1.6;
}
@media screen and (min-width: 767px) {
  .main-text {
    margin-top: 30px;
  }
}

.main-container {
  margin: 83px 54px 0;
}
@media screen and (min-width: 767px) {
  .main-container {
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    max-width: 1080px;
  }
}
.main-container__item {
  margin-bottom: 35px;
}
.main-container__item:nth-of-type(3n) {
  margin-right: 0;
}
@media screen and (min-width: 767px) {
  .main-container__item {
    width: 28%;
    margin-right: 8%;
    margin-bottom: 70px;
  }
}
.main-container__icon {
  margin: 0 auto;
  width: 210px;
  height: 210px;
  border: 10px solid #F1F1F1;
  border-radius: 50%;
}
.main-container__icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main-container__title {
  margin-top: 37px;
  font-weight: bold;
  position: relative;
}
.main-container__title .new {
  position: absolute;
  top: -22px;
  left: -22px;
  display: block;
  height: 25px;
  width: 24px;
  background-color: #FFF100;
  border-radius: 50%;
  font-size: 7px;
  line-height: 25px;
  text-align: center;
}
.main-container__date {
  margin-top: 3px;
  font-size: 11px;
}
.main-container__text {
  margin-top: 8px;
}
.main-container__more {
  margin-top: 13px;
}
.main-container__more::after {
  content: "";
  display: inline-block;
  margin-left: 7px;
  width: 25px;
  height: 5px;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: skew(45deg);
}

.main-button {
  color: #FFFFFF;
  width: 240px;
  height: 44px;
  background-color: #1DDB07;
  border-radius: 12px;
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: bold;
  margin: 83px auto;
}
.main-button::after {
  content: "";
  display: inline-block;
  margin-left: 21px;
  margin-bottom: 3px;
  width: 25px;
  height: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  transform: skew(45deg);
}
@media screen and (min-width: 767px) {
  .main-button {
    margin: 0 auto 100px;
  }
}

@media screen and (min-width: 767px) {
  .banner-container {
    display: flex;
    flex-wrap: wrap;
  }
  .banner-container__item {
    width: 22%;
    height: 72px;
    background-color: #DDDDDD;
    margin-right: 4%;
    margin-top: 26px;
    text-align: center;
    line-height: 72px;
  }
  .banner-container__item:nth-of-type(4) {
    margin-right: 0;
  }
  .banner-container__item p {
    font-size: 16px;
  }
}

footer {
  background-color: #F5F5F5;
}
@media screen and (min-width: 767px) {
  footer .footer-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 49px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 48px;
  }
}
footer .footer-container__link {
  display: flex;
  padding-top: 28px;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
}
@media screen and (min-width: 767px) {
  footer .footer-container__link {
    padding-top: 0;
    margin: 0;
  }
}
footer .footer-container__link li {
  width: 120px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #D6D5D5;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  margin-bottom: 10px;
}
footer .footer-container__link li:nth-child(odd) {
  margin-right: 10px;
}
footer .footer-container__text {
  margin-top: 25px;
}
@media screen and (min-width: 767px) {
  footer .footer-container__text {
    margin-top: 0;
  }
}
footer .footer-container__text p {
  margin-top: 17px;
  font-size: 12px;
  line-height: 1.7;
}

.copyright {
  padding-top: 35px;
  padding-bottom: 34px;
  font-size: 12px;
}
@media screen and (min-width: 767px) {
  .copyright {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.list-bar {
  margin: 119px 30px 113px;
  border-top: 5px solid #1DDB07;
  border-bottom: 5px solid #1DDB07;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .list-bar {
    height: 69px;
    margin: 104px auto 85px;
    padding: 0 32px;
    max-width: 1020px;
  }
}
.list-bar li {
  display: inline;
  font-size: 13px;
  line-height: 59px;
}
.list-bar li:nth-child(1)::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 14px;
  height: 5px;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  transform: skew(135deg);
}
.list-bar li:nth-child(3)::after {
  content: "";
  display: inline-block;
  margin-left: 7px;
  width: 14px;
  height: 5px;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: skew(45deg);
}

main {
  display: flex;
  margin: 63px auto 0;
  max-width: 1080px;
}
@media screen and (min-width: 767px) {
  main .main {
    width: 70%;
  }
}
main .main__title {
  margin: 32px 0;
}
@media screen and (min-width: 767px) {
  main .main__title {
    margin-top: 0;
    margin-bottom: 48px;
  }
}
main .main__icon {
  margin: 0 auto;
  width: 210px;
  height: 210px;
  border: 10px solid #F1F1F1;
  border-radius: 50%;
  display: flex;
}
main .main__icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
main .main__date {
  font-size: 11px;
  margin-top: 32px;
}
main .main__sns {
  display: flex;
  margin-top: 8px;
  margin-bottom: 76px;
}
main .main__sns li {
  width: 34px;
  height: 34px;
  border: 1px solid #707070;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  margin-left: 4px;
}
main .main__sns li:nth-child(1) {
  margin-left: 0;
}
main .main__content {
  margin: 0 auto;
}
main .main__sub-title {
  margin-top: 50px;
  font-weight: bold;
}
main .main__picture {
  width: 315px;
  height: 216px;
  background-color: #CCCCCC;
  margin: 25px auto 0;
  border-radius: 20px;
}
@media screen and (min-width: 767px) {
  main .main__picture {
    margin-top: 32px;
  }
}
main .main__text {
  margin-top: 24px;
  line-height: 24px;
}
main .main__button {
  color: #FFFFFF;
  width: 240px;
  height: 44px;
  background-color: #1DDB07;
  border-radius: 12px;
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: bold;
  margin: 50px auto 0;
}
main .main__button::after {
  content: "";
  display: inline-block;
  margin-left: 21px;
  margin-bottom: 3px;
  width: 25px;
  height: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  transform: skew(45deg);
}
main .aside {
  margin-right: 30px;
}
main .aside__title {
  font-size: 24px;
  font-weight: bold;
}
main .aside__content {
  width: 258px;
  margin-top: 16px;
}
main .aside__content:nth-last-child(1) {
  border-bottom: 1px dashed #727272;
}
main .aside__detail {
  border-top: 1px dashed #727272;
}
main .aside__detail a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
main .aside__detail a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #F1F1F1;
}
main .aside__detail a div {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */