$button-color:#1DDB07;
$nav-current:#1558D6;
$button-text:#FFFFFF;
$back-ground:#F5F5F5;
$accent-color:#FFF100;
@mixin pc {
    @media screen and (min-width:767px){
        @content;
    }
    
}
@mixin button {
    
    color: $button-text;
    width: 240px;
    height: 44px;
    background-color: $button-color;
    border-radius: 12px;
    text-align: center;
    line-height: 44px;
    font-size: 13px;
    font-weight: bold;
    &::after{
        content: "";
        display: inline-block;
        margin-left: 21px;
        margin-bottom: 3px;
        width: 25px;
        height: 5px;
        border-bottom: 1px solid $button-text;
        border-right: 1px solid $button-text;
        transform: skew(45deg);
    }
}
@mixin icon {
    margin: 0 auto;
    width: 210px;
    height: 210px;
    border: 10px solid #F1F1F1;
    border-radius: 50%;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
// 共通
body{
    font-family: 'メイリオ','Meiryo',sans-serif;
    color: #333;
}
.pc-only{
    display: none;
    @include pc{
        display: block;
    }
}
.wrap{
    padding: 0 30px;
    max-width: 1080px;
    @include pc{
        margin: 0 30px;
        margin: 0 auto;
    }
}

h1{
    font-size: 24px;
    font-weight: bold;
    @include pc{
        font-size: 36px;
    }
}

p{
    font-size: 13px;
}

h4{
    font-size: 16px;
    font-weight: bold;
}

// ヘッダー
.header{
    &__top{
        margin-top: 26px;
        @include pc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        img{
           width: 100%;
           max-width: 358px;
        }
        }
        .top-button{
           @include button;
           margin-left: 10px;
           padding: 3px;
           &__link{
            width: 100%;
            height: 100%;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px double #FFFFFF;
           }
        }
    }
    
    &__nav{
        margin-top: 21px;
        font-size: 11px;
        @include pc{
            margin-top: 35px;
        }

        .current{
           color: $nav-current;
        }
    }
}

.mv{
    img{
        margin-top: 18px;
        width: 100%;
        height: 500px;
    }
}

// コンテナ
.main-title{
    margin-top: 43px;
    @include pc{
        margin-top: 70px;
    }
}
.main-text{
    margin-top: 24px;
    line-height: 1.6;
    @include pc{
        margin-top: 30px;
    }
}
.main-container{
    margin: 83px 54px 0;
    @include pc{
       margin: 100px auto 30px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
        max-width: 1080px;
    }
    &__item{
        margin-bottom: 35px;
        &:nth-of-type(3n){
            margin-right: 0;
        }
        @include pc{
            width:  28%;
            margin-right: 8%;
            margin-bottom: 70px;
        }
    }
    &__icon{
        @include icon;
    }
    &__title{
        margin-top: 37px;
        font-weight: bold;
        position: relative;
        .new{
            position: absolute;
            top: -22px;
            left: -22px;
            display: block;
            height: 25px;
            width: 24px;
            background-color: $accent-color;
            border-radius: 50%;
            font-size: 7px;
            line-height: 25px;
            text-align: center;
            
        }
        }
    &__date{
        margin-top: 3px;
        font-size: 11px;
    }
    &__text{
        margin-top: 8px;
    }
    &__more{
        margin-top: 13px;
        &::after{
            content: "";
            display: inline-block;
            margin-left: 7px;
            width: 25px;
            height: 5px;
            border-bottom: 1px solid #707070;
            border-right: 1px solid #707070;
            transform: skew(45deg);
          }
    }
    }

.main-button{
   @include button;
   margin: 83px auto ;
   @include pc{
    margin: 0 auto 100px;
   }
  
   
}

.banner-container{
    @include pc{
 
    display: flex;
    flex-wrap: wrap;
    &__item{
        width: 22%;
        height: 72px;
        background-color: #DDDDDD;
        margin-right: 4%;
        margin-top: 26px;
        text-align: center;
        line-height: 72px;
        &:nth-of-type(4){
            margin-right: 0;
        }
        p{
            font-size: 16px;
        }
    }
}
}

// フッター
footer{
    background-color: $back-ground;
.footer-container{
     
     @include pc{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 49px;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 48px;
     } 
        &__link{
            display: flex;
            padding-top: 28px;
            flex-wrap: wrap;
            justify-content: center;
            width: 250px;
            margin: 0 auto;
            @include pc{
                padding-top: 0;
                margin: 0;
            }
            li{
                width: 120px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #D6D5D5;
                text-align: center;
                line-height: 40px;
                font-size: 13px;
                margin-bottom: 10px;
                &:nth-child(odd){
                    margin-right: 10px;
                }
            }
        }
    }
.footer-container__text{
    margin-top: 25px;
    @include pc{
      margin-top: 0;
    }
    p{
        margin-top: 17px;
        font-size: 12px;
        line-height: 1.7;
    }
}
}
.copyright{
    padding-top: 35px;
    padding-bottom: 34px;
    font-size: 12px;
    @include pc{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
     }
    }

// 一覧ページ

.list-bar{
    margin: 119px 30px 113px;
    border-top: 5px solid $button-color;
    border-bottom: 5px solid $button-color;
    @include pc{
    height: 69px;
    margin : 104px auto 85px;
    padding: 0 32px;
    max-width: 1020px;
  
    }
    display: flex;
    justify-content: space-between;
    li{
        display: inline;
        font-size: 13px;
        line-height: 59px;
        &:nth-child(1){
            &::before{
                content: "";
                display: inline-block;
                margin-right: 7px;
                width: 14px;
                height: 5px;
                border-bottom: 1px solid #707070;
                border-left: 1px solid #707070;
                transform: skew(135deg);
                
              }
        }
        
        &:nth-child(3){
            &::after{
                content: "";
                display: inline-block;
                margin-left: 7px;
                width: 14px;
                height: 5px;
                border-bottom: 1px solid #707070;
                border-right: 1px solid #707070;
                transform: skew(45deg);
                
              }
        }
    }
}

// 詳細ページ
.detail{
    display: flex;
    margin: 63px auto 0;
    max-width: 1080px;
}
.main{
    
    @include pc{
        width: 70%;
    }
    &__title{
        margin: 32px 0;
        @include pc{
            margin-top: 0;
            margin-bottom: 48px;
        }
    }
    &__icon{
        @include icon;
        display: flex;
    }
    &__date{
        font-size: 11px;
        margin-top: 32px;
    }
    &__sns{
        display: flex;
        margin-top: 8px;
        margin-bottom: 76px;
        li{
            width: 34px;
            height: 34px;
            border: 1px solid #707070;
            border-radius: 50%;
            text-align: center;
            line-height: 34px;
            margin-left: 4px;
            &:nth-child(1){
                margin-left: 0;
            }
        }
    }
    &__content{
        margin: 0 auto;
        
    }
    &__sub-title{
        margin-top: 50px;
        font-weight: bold;
    }
    &__picture{
        width: 315px;
        height: 216px;
        background-color: #CCCCCC;
        margin: 25px auto 0;
        border-radius: 20px;
        
        @include pc{
            margin-top: 32px;
            float: right;
            width: 274px;
            height: 188px;
            margin-left: 30px;
          
        }
    }
    &__picture-reverse{
        @include pc{
            float: left;
            margin-right: 30px;
            margin-left: 0;
        }
    }
    &__text{
        margin-top: 24px;
        line-height: 24px;
    }
    &__button{
        @include button;
        margin: 50px auto 0;
    }
}
.aside{
    margin-right: 30px;
    &__title{
        font-size: 24px;
        font-weight: bold;
    }
    &__content{
        width: 258px;
        margin-top: 16px;
        &:nth-last-child(1){
            border-bottom: 1px dashed #727272;
        }
    }
    &__detail{
        border-top: 1px dashed #727272;
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #F1F1F1 ;
            }
            div{
                margin-left: 10px;
                
            }
        }
      
    }
}
